.receita:checked {
    background-color: #07ad6d !important;
}

.despesa:checked {
    background-color: #ad0707 !important;
}

.receita:focus {
    border-color: #07ad6d !important;
}

.despesa:focus {
    border-color: #ad0707 !important;
}